<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <container class="workContainer">
        <h1>My work</h1>
        <nav id="work">I support people to plan, create and develop new product ideas for the market. Wether that
            involves
            targeting a specific group of people, standing out in the market or repositioning a into a new market. By
            first
            understanding where you are and where you want to be, I then work with you through a proven process and
            applying
            the skills, guidance & experience to the project. </nav>
    </container>
</body>

</html>